<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="version" content="<%= htmlWebpackPlugin.options.version %>">
    
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="manifest.json">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#ff0000">
	<meta name="theme-color" content="#ffffff">

    <title>VueJS + Webpack + TypeScript starter project</title>

	<!-- Generic -->
	<meta name="description" content="A VueJS + TypeScript + Webpack starter base project">
    <link rel="canonical" href="https://example.com/" />


</head>
<body>
    
    <div id="app-root"></div>

</body>
</html>
